* {
    margin: 0;
    padding: 0;
    }
    
/* Header CSS */ 
header {
    background-color: #222222;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
    
.logo {
    font-size: 24px;
}
   
.logo img {
    padding-left: 10px;
    width: 130px;
    height: 130px;
}
    
.features {
    font-size: 22px;
    display: flex;
    gap: 30px;
}
    
.feature {
    cursor: pointer;
}
    
.feature a {
    text-decoration: none;
    color: inherit; 
} 

/* -------------------------------- */
/* Footer CSS */

.footercontainer {
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    width: 100vw;
    height: auto;
}

footer {
    position:relative;
    bottom:0;
    width:100%;
    margin-top: auto;
}

.column1 img {
    padding: 20px 0px 0px 30px;
    width: 300px;
    max-height: 110px;
}

.column2 h3, p{
    color: white;
    text-align: center;
}

.column2 {
    padding-top: 25px;
    padding-right: 30px;
}

/* ------------------------- */
/*Main CSS*/

body {
    background-image: url("./images/high-tech-underground-parking-lot-8ekkguost0qs7630.jpg");
    background-size: cover;
}

.container {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.box {
    background-color: rgb(89, 89, 179);
    border-style: solid;
    border-radius: 20px;
    padding: 30px 60px 30px 60px;
    color: rgb(89, 89, 179);
}
    
h1 {
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

label {
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input {
    font-size: 15px;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

button {
    float: right;
    background-color: #5d6278;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    transition-duration: 0.3ms;
    cursor: pointer;
}

button:hover{
    opacity: .7;
}

select {
    display: block;
    border: 2px solid #ccc;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}

option {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}
